/* ----------- base styles ----------- */
* {
    box-sizing: border-box; }

.flex-container {
    max-width: 75em;
    margin: 0 auto; }

.header {
    width: 100%;
    height:40px;
    padding: 0; }

.content {
    width: 100%;
    background: #eee;
    padding: 1em 0; }

.sidebar {
    width: 100%;
    padding: 1em 0; }

.primary {
    background: #ccc; }

.secondary {
    background: #bbb; }

.footer {
    width: 100%;
    background: #444;
    color: #eee;
    padding: 1em 0; }

/* ----------- base styles part 2----------- */
.flex-content {
    padding: 0; }

.box1 {
    background: #933; }

.box2 {
    background: #393; }

.box3 {
    background: #339; }


/* ----------- flexbox ----------- */
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }

.header {
    -webkit-order: 1;
    order: 1; }

.content {
    -webkit-order: 2;
    order: 2; }

.primary {
    -webkit-order: 3;
    order: 3; }

.secondary {
    -webkit-order: 4;
    order: 4; }

.footer {
    width: 100%;
    -webkit-order: 5;
    order: 5; }

/* ----------- media queries --------------------- */
@media screen and (min-width: 48em) {
    .content {
        width: 67%;
        -webkit-order: 3; }

    .primary {
        width: 33%;
        padding: 1em 3.333%;
        -webkit-order: 2; } }
