/* Window bar stuff */

.window-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    -webkit-app-region: drag;
    height:40px;
    border-bottom:thin solid #dedede;
}

.window-bar p.title{
    color:#232323;
    float:right;
}

.window-bar .vline {
    position: fixed;
    top: 0;
    left: 100px;
    border-left:thin solid #dedede;
    height:40px;
    width:1px;
}


.window-actions {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.platform-mac .window-actions {
    float: left;
}

.window-action-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 6px;
    order: 1;
}

.window-action-wrapper-restore {
    display: none;
}

.window-action {
    padding: 6px;
    border-radius: 100%;
    opacity: 0.8;
    transition: 0.25s opacity, 0.5s box-shadow;
    -webkit-app-region: no-drag;
}

.window-action:hover {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.window-action span {
    display: none;
}

.window-action-minimize {
    background: #fcd000;
}

.window-action-maximize,
.window-action-restore {
    background: #00fc65;
}

.window-action-close {
    background: #fc0000;
}

.platform-mac .window-action-wrapper-close {
    order: 0;
}

.window--is-maximized .window-action-wrapper-maximize {
    display: none;
}

.window--is-maximized .window-action-wrapper-restore {
    display: flex;
}